html {
    background-color: #000;
}
h1 {
    color: #0F0;
    font-size: 75pt;
    text-align: center;
}
img {
    height: 450px;
    opacity: 0.5;
}
.left {
    float: left;
    width: 40%;
}
.left:hover {
    opacity: 1;
    width: 50%;
}
.right {
    float: right;
    width: 40%;
}
.right:hover {
    opacity: 1;
    width: 50%;
}
.center {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}
.center:hover {
    opacity: 1;
}
.line-separator {
    height: 30em;
}
p {
    color: #F00;
    font-size: 30pt;
    text-align: center;
}
.green {
    font-size: 15pt;
    color: #0F0;
}
.answer:hover {
    opacity: 1;
}
.answer {
    opacity: 0;
    color: #0F0;
}
.small {
    width: 20%;
    height: 300px;
    float: left;
}
.small:hover {
	opacity: 1;
}
.blue {
	color: #00F;
}
.kitten {
	height: 450px;
	width: 30%;
	margin-left: 35%;
	margin-right: 35%;
}
.kitten:hover {
	opacity: 1;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
}