html {
    background-color: #000000;
}
h1 {
    color: #008000;
    font-size: 75pt;
    text-align: center;
}
img {
    height: 450px;
    width: 700px;
}
img.left {
    float: left;
}
img.right {
    float: right;
}
div.line-separator {
    height: 30em;
}
img.center {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
}
p {
    color: #FF0000;
    text-align: center;
    font-size: 30pt;
}
div.line-separator2 {
    height: 2em;
}

